<h1>Form experiments</h1>

<form action="https://en.wikipedia.org/wiki/Chicago">
  <label for="">first name</label>
  <input id="" type="text" name="zebra">

  <button>Go to Wikipedia</button>
</form>
