<form action="/random/results">
  <label for="Min">Minimum</label>
  <input id="Min" type="text" name="input_number">

  <label for="Max">Maximum</label>
  <input id="Max" type="text" name="input_number">
  
  <button>Pick random number</button>
</form>
